@model HospitalManagement.Model.Model.Test
@{
    Layout = "~/Views/Master View/_Layout.cshtml";
}

<div class="page-wrapper">
    @using (Html.BeginForm())
    {
        <div class="content">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h4 class="page-title">Delete/Inactive Test</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <form>
                        @Html.HiddenFor(model => model.id)
                        @Html.HiddenFor(model => model.testName)
                        @Html.HiddenFor(model => model.unit)
                        @Html.HiddenFor(model => model.referenceRange)
                        @Html.HiddenFor(model => model.price)
                        @Html.HiddenFor(model => model.testRoom)
                        @Html.HiddenFor(model => model.deliveryDays)
                        @Html.HiddenFor(model => model.CategoryId)
                        <div class="m-t-20 text-center">
                            <h3>Are you sure want to inactive/delete this role?</h3>
                            <input class="btn btn-primary submit-btn" type="submit" value="Save" />
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-focus">
                                @if (ViewBag.Message != null)
                                {
                                    <h3>
                                        <b>
                                            @ViewBag.Message;
                                        </b>
                                    </h3>
                                }
                            </div>
                        </div>
                    </form>
                    <div>
                        @Html.ActionLink("Back", "ShowTests")
                    </div>
                </div>
            </div>
        </div>
    }
</div>





@*@model HospitalManagement.Model.Model.Test
@{
    Layout = "~/Views/Master View/_Layout.cshtml";
}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-7 col-6">
                <h4 class="page-title">Test</h4>
            </div>
        </div>
        @using (Html.BeginForm())
        {
            <form>
                @Html.AntiForgeryToken()
                <div class="card-box profile-header">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="profile-view">
                                <div class="profile-basic">
                                    <div class="row">
                                        <div class="col-md-11">
                                            <ul class="personal-info">
                                                <li>
                                                    <span class="title">Category Id:</span>
                                                    <span class="text">@Html.DisplayFor(model => model.CategoryId)</span>
                                                </li>
                                                <li>
                                                    <span class="title">Test Name:</span>
                                                    <span class="text">@Html.DisplayFor(model => model.testName)</span>
                                                </li>
                                                <li>
                                                    <span class="title">Test Price:</span>
                                                    <span class="text">@Html.DisplayFor(model => model.price)</span>
                                                </li>
                                                <li>
                                                    <h3>Are you sure want to delete this Patient?</h3>
                                                    <input type="submit" value="Delete" />
                                                </li>
                                                <li>
                                                    @if (ViewBag.Message != null)
                                                    {
                                                        <h3>
                                                            <b>
                                                                @ViewBag.Message;
                                                            </b>
                                                        </h3>
                                                    }
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div>
                @Html.ActionLink("Back", "ShowTests")
            </div>
        }
    </div>
</div>*@