@model HospitalManagement.Model.Model.Employee
@{
    Layout = "~/Views/Master View/_Layout.cshtml";
}
<div class="page-wrapper">
    @using (Html.BeginForm())
    {
        <div class="content">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h4 class="page-title">Update Employee</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <form>
                        <div class="row">
                            @Html.HiddenFor(model => model.id)
                            @Html.HiddenFor(model => model.status)
                            <div class="col-sm-6">
                                <label>Employee Id</label>
                                <div class="form-group">
                                    @Html.EditorFor(c => c.employeeId, Model.employeeId.ToString(), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.employeeId)
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label>Full Name</label>
                                <div class="form-group">
                                    @Html.EditorFor(c => c.employeeName, Model.employeeName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.employeeName)
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label>Email</label>
                                <div class="form-group">
                                    @Html.EditorFor(c => c.email, Model.email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.email)
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label>Phone</label>
                                <div class="form-group">
                                    @Html.EditorFor(c => c.phone, Model.phone.ToString(), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.phone)
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label>Blood Group</label>
                                <div class="form-group">
                                    @Html.EditorFor(c => c.bloodGroup, Model.bloodGroup, new { @class = "form-control" })
                                    @*@Html.DropDownList("bloodGroup", new List<SelectListItem>
                                    {
                                        new SelectListItem {Text = "A+", Value = "A+"},
                                        new SelectListItem {Text = "B+", Value = "B+"},
                                        new SelectListItem {Text = "AB+", Value = "AB+"},
                                        new SelectListItem {Text = "AB-", Value = "AB-"},
                                        new SelectListItem {Text = "O+", Value = "O+"},
                                        new SelectListItem {Text = "B-", Value = "B-"},
                                    }, "--- Select Blood Group---")*@
                                    @Html.ValidationMessageFor(c => c.bloodGroup)
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label>Gender</label>
                                <div class="form-group">
                                    @Html.EditorFor(c => c.gender, Model.gender, new { @class = "form-control" })
                                    @*@Html.DropDownList("gender", new List<SelectListItem>
                                    {
                                        new SelectListItem {Text = "Male", Value = "Male"},
                                        new SelectListItem {Text = "Female", Value = "Female"}
                                    }, "--- Select Gender---")*@
                                    @Html.ValidationMessageFor(c => c.gender)
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label>Salary</label>
                                <div class="form-group">
                                    @Html.EditorFor(c => c.salary, Model.salary.ToString(), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.phone)
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label>Join Date</label>
                                <div class="form-group">
                                    @Html.EditorFor(c => c.joinDate, Model.joinDate.ToString(), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.joinDate)
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Address</label>
                                    <div class="form-group">
                                        @Html.EditorFor(c => c.address, Model.address, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(c => c.address)
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-sm-6">
                                <label>Employee Role</label>
                                <div class="form-group">
                                    @Html.DropDownListFor(c => c.RoleId, Model.RoleSelectListItems, "--Select Role--")
                                </div>
                            </div>*@
                        </div>
                        <div class="m-t-20 text-center">
                            <input class="btn btn-primary submit-btn" type="submit" value="Save" />
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-focus">
                                @if (ViewBag.Message != null)
                                {
                                    <h3>
                                        <b>
                                            @ViewBag.Message;
                                        </b>
                                    </h3>
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
